<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Keyword Stability Report</title>
      <link
         href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"
         rel="stylesheet"
         type="text/css"
      />
      <link
         href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css"
         rel="stylesheet"
         type="text/css"
      />
      <link
         href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
         rel="stylesheet"
      />
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <style type="text/css">
         #myChart {
            height: 200px; /* or any other height */
         }
      </style>
   </head>
   <body>
      <div class="container">
         <h1 class="col-md-12 text-center pb-3 pt-3">
            Payout Keyword Analysis
         </h1>
         <div class="col-md-12 dropdown text-right mb-2 d-flex align-center">
            <!-- <select class="col-md-0 dropdown" id="keywords" style="display:none"></select> -->
            <select
               id="keywords"
               class="col-md-4 form-control select2"
            ></select>
            <div class="col-md-6 text-center" style="font-size: 20px;">
               keyword: <span id="daily_chart_title"></span>
            </div>
            <select class="col-md-2 dropdown" id="period">
               <option value="3 DAY" selected>Last 3 Days</option>
               <option value="1 WEEK">Last 7 Days</option>
               <option value="CUR_MONTH">This Month</option>
               <option value="1 MONTH">Last Month</option>
               <option value="All">All</option>
            </select>
         </div>
         <canvas
            id="myChart_daily"
            width="400"
            height="150"
            style="margin-bottom: 20px;"
         ></canvas>
         <canvas
            id="myChart"
            width="400"
            height="150"
            style="margin-bottom: 20px;"
         ></canvas>
         <!-- <table
            id="example"
            class="table table-striped table-bordered"
            style="width: 100%; "
         >
            <thead>
               <tr>
                  <th>ClickID</th>
                  <th>Keyword</th>
                  <th>Sum</th>
                  <th>Relatedlink</th>
                  <th>Timestamp</th>
                  <th>Domain</th>
               </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
               <tr>
                  <th>ClickID</th>
                  <th>Keyword</th>
                  <th>Sum</th>
                  <th>Relatedlink</th>
                  <th>Timestamp</th>
                  <th>Domain</th>
               </tr>
            </tfoot>
         </table> -->
      </div>

      <script
         src="https://code.jquery.com/jquery-3.7.0.js"
         type="text/Javascript"
      ></script>
      <script
         src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"
         type="text/Javascript"
      ></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script
         src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"
         type="text/Javascript"
      ></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
         crossorigin="anonymous"
      ></script>

      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.x"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

      <script type="text/Javascript">

         var dataTable, keywordSelect2;
         var myChart, myChart_daily;
         var selperiod = $("#period").val();
         var selkeyword = '';

         $(document).ready(function(){
            initialize();
            initEvents();
            reloadKeywords(selperiod);
            reloadChart(selperiod);
            // reloadTable(selperiod);
         })

         function initialize(){
            dataTable = new DataTable("#example");
            keywordSelect2 = $("#keywords").select2();
         }

         function initEvents(){
            $("#period").change(function() {
               selperiod = $(this).val(); // Get the text of the clicked item
               selkeyword = $("#keywords").val();
               reloadKeywords(selperiod);
               reloadChart(selperiod);
               reloadTable(selperiod);
               // reloadChart_daily(selkeyword, selperiod);
            });

            $("#keywords").change(function() {
               selkeyword = $(this).val(); // Get the text of the clicked item
               reloadChart_daily(selkeyword, selperiod);
            });
         }

         function reloadKeywords(duration){
            $.ajax({
               url: '/keywordlist',
               data: {
                  period: duration,
               },
               type: 'GET',
               dataType: 'json',
               success: function(data) {
                  updateKeywords(data);
                  reloadChart_daily(data[0], selperiod);
               }
            });
         }


         function reloadChart(duration){
            $.ajax({
               url: '/chart-data',
               data: {
                  period: duration,
               },
               type: 'GET',
               dataType: 'json',
               success: function(data) {
                  createChart(data.keywords, data.average_revenues);

               }
            });
         }

         function reloadChart_daily(selkeyword, duration){
            $("#daily_chart_title").html(selkeyword);
            $.ajax({
               url: '/daily-chart-data',
               type: 'GET',
               data:{
                  keyword: selkeyword,
                  period: duration,
               },
               dataType: 'json',
               success: function(data) {
                  createChart_daily(data.log_dates, data.average_revenues, data.total_conversions, data.lowest_revenues, data.highest_revenues);

               }
            });
         }

         function updateKeywords(keywordlist){
            $("#keywords").html("");
            keywordlist.forEach(element => {
               $("#keywords").append(`<option value="${element}">${element}</option>`);
            });
         }

         function reloadTable(duration){
            $.ajax({
               url: '/report',
               type: 'GET',
               data: { period: duration },
               success: function(data) {
                  dataTable.clear().rows.add(data).draw();
               }
            });
         }

         function truncateString(label, num) {
            if (label.length <= num) {
               return label;
            }
            return label.slice(0, Math.min(num, label.length)) + '...';
         }

         function createChart(keywords, averageRevenues) {
            var ctx = document.getElementById('myChart').getContext('2d');
            if(myChart) myChart.destroy();
            myChart = new Chart(ctx, {
               type: 'line',
               data: {
                     labels: keywords,
                     datasets: [{
                        label: 'Total Average Revenue',
                        data: averageRevenues,
                        backgroundColor: 'rgba(0, 123, 255, 0.5)',
                        borderColor: 'rgba(0, 123, 255, 1)',
                        borderWidth: 1
                     }]
               },
               options: {
                  scales: {
                     y: {
                        beginAtZero: true
                     },
                     x: {
                        ticks: {
                           autoSkip: false,
                           maxRotation: 90,
                           minRotation: 0,
                           callback: function(value, index, values) {
                              // Assuming you want to truncate to 10 characters
                              return truncateString(keywords[value], 8);
                           }
                        }
                     }
                  },
                  animation: {
                     duration: 1000 // Animation duration in milliseconds
                  },
                  responsive: true,
                  plugins:{
                     zoom: {
                        pan: {
                              enabled: true,
                              mode: 'x'
                        },
                        zoom: {
                              wheel: {
                                 enabled: true,
                              },
                              pinch: {
                                 enabled: true
                              },
                              mode: 'x'
                        }
                     }
                  },
                  onClick: function(event, elements) {
                     if (elements.length > 0) {
                        var firstPoint = elements[0];

                        // Index of the clicked point
                        var index = firstPoint.index;

                        // Label of the clicked point
                        var label = keywords[index];

                        // Value of the clicked point
                        var value = averageRevenues[index];
                        $("#keywords").val(label);
                        $(`#keywords option:eq(${index})`).prop("selected", true);

                        // Do something with this information
                        selkeyword = label;
                        reloadChart_daily(selkeyword, selperiod);

                     }
                  }
               }
            });
         }

         function formatDate(dateStr) {
            var date = new Date(dateStr);
            var year = date.getFullYear();
            var month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-indexed in JS
            var day = date.getDate().toString().padStart(2, '0');

            return `${year}-${month}-${day}`;
         }

         function createChart_daily(log_dates, averageRevenues,totalConversions, lowestRevenues, highestRevenues) {
            var ctx = document.getElementById('myChart_daily').getContext('2d');
            if(myChart_daily) myChart_daily.destroy();

            // Calculate the average
            var totalSum = averageRevenues.reduce((acc, value) => acc + Number(value), 0);
            var averageValue = totalSum / log_dates.length;

            // Determine the highest and lowest values
            var highestValue = Math.max(...averageRevenues);
            var lowestValue = Math.min(...averageRevenues);

            myChart_daily = new Chart(ctx, {
               type: 'bar',
               data: {
                  labels: log_dates,
                  datasets: [{
                     label: 'Daily Average Revenue',
                     data: averageRevenues,
                     backgroundColor: 'rgba(0, 123, 255, 0.5)',
                     borderColor: 'rgba(0, 123, 255, 1)',
                     borderWidth: 1
                  }]
               },
               options: {
                  scales: {
                     y: {
                        beginAtZero: true
                     },
                     x: {
                        ticks: {
                           autoSkip: false,
                           maxRotation: 90,
                           minRotation: 0,
                           callback: function(value, index, values) {
                              // Assuming you want to truncate to 10 characters
                              return formatDate(log_dates[value]);
                           }
                        }
                     }
                  },
                  animation: {
                     duration: 1000 // Animation duration in milliseconds
                  },
                  responsive: true,
                  plugins: {
                     // Add the annotation plugin configuration
                     annotation: {
                        annotations: {
                              line1: {
                                 type: 'line',
                                 yMin: averageValue,
                                 yMax: averageValue,
                                 borderColor: 'rgb(255, 99, 132)',
                                 borderWidth: 2,
                                 label: {
                                    content: 'Average',
                                    enabled: true,
                                    position: 'start'
                                 }
                              },
                              line2: {
                                 // Highest value line configuration
                                 type: 'line',
                                 yMin: highestValue,
                                 yMax: highestValue,
                                 borderColor: 'rgb(50, 205, 50)', // Example: Green color
                                 borderWidth: 2,
                                 label: {
                                    content: 'Highest',
                                    enabled: true,
                                    position: 'end'
                                 }
                              },
                              line3: {
                                 // Lowest value line configuration
                                 type: 'line',
                                 yMin: lowestValue,
                                 yMax: lowestValue,
                                 borderColor: 'rgb(255, 165, 0)', // Example: Orange color
                                 borderWidth: 2,
                                 label: {
                                    content: 'Lowest',
                                    enabled: true,
                                    position: 'end'
                                 }
                              }
                        }
                     },
                     zoom: {
                        pan: {
                              enabled: true,
                              mode: 'x'
                        },
                        zoom: {
                              wheel: {
                                 enabled: true,
                              },
                              pinch: {
                                 enabled: true
                              },
                              mode: 'x'
                        }
                     },
                     tooltip: {
                        callbacks: {
                           label: function(tooltipItem) {
                              dataIndex = tooltipItem.dataIndex;
                              return "Average : " + tooltipItem.formattedValue;
                           },
                           footer: function(tooltipItem) {
                              dataIndex = tooltipItem[0].dataIndex;
                              return [
                                 "Highest : " + highestRevenues[dataIndex],
                                 "Lowest : " + lowestRevenues[dataIndex],
                                 "Total: " + totalConversions[dataIndex]
                              ];
                           }
                        }
                     },
                  }
               }
            });
         }
      </script>
   </body>
</html>
